.xe-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 .6em;
}

.xe-table thead tr th {
    font-weight: bold;
    padding: .5rem;
    color: var(--xe-muted);
    text-align: left;
    white-space: nowrap;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.xe-table tbody tr td {
    vertical-align: middle;
    white-space: nowrap;
}

.xe-table tbody tr td>div {
    padding: .85rem .65rem;
}

.xe-table tbody tr td>a {
    padding: .85rem .65rem;
    text-decoration: none;
    display: block;
    color: var(--xe-white);
}

.xe-table tbody tr td>a:visited {
    color: rgba(245, 247, 251, 0.72);
}

.xe-table-empty {
    background-color: rgba(2, 255, 207, 0.08);
    cursor: inherit;
    color: var(--xe-muted);
}

.xe-table-clickable tbody tr:hover td {
    background-color: rgba(2, 255, 207, 0.09);
    cursor: pointer;
}

.xe-table-clickable td:first-child,
.xe-table-empty td:first-child {
    border-top-left-radius: var(--xe-radius);
    border-bottom-left-radius: var(--xe-radius);
}

.xe-table-clickable td:last-child,
.xe-table-empty td:first-child {
    border-top-right-radius: var(--xe-radius);
    border-bottom-right-radius: var(--xe-radius);
}

.xe-table-loading>td {
    height: 2.5rem;
    background-color: rgba(2, 255, 207, 0.08);
    animation: xe-table-loading-animation .5s infinite alternate;
}

@keyframes xe-table-loading-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
