.xe-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 .5em;
}

.xe-table thead tr th {
    font-weight: bold;
    padding: .5rem;
    color: #afafaf;
    text-align: left;
    white-space: nowrap;
}

.xe-table tbody tr td {
    vertical-align: middle;
    white-space: nowrap;
}

.xe-table tbody tr td>div {
    padding: .75rem .5rem;
}

.xe-table tbody tr td>a {
    padding: .75rem .5rem;
    text-decoration: none;
    display: block;
    color: white;
}

.xe-table tbody tr td>a:visited {
    color: rgb(160, 160, 160);
}

.xe-table-empty {
    background-color: rgba(2, 255, 209, 0.1);
    cursor: inherit;
    color: #afafaf;
}

.xe-table-clickable tbody tr:hover td {
    background-color: rgba(2, 255, 209, 0.1);
    cursor: pointer;
}

.xe-table-clickable td:first-child,
.xe-table-empty td:first-child {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.xe-table-clickable td:last-child,
.xe-table-empty td:first-child {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.xe-table-loading td {
    height: 2.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    animation: xe-table-loading-animation .5s infinite alternate;
}

@keyframes xe-table-loading-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}