.xe-contract-info {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    animation: xe-contract-info-appear-animation .75s;
}

@keyframes xe-contract-info-appear-animation {
    0% {
        opacity: 0;
        translate: 0 -25%;
    }

    100% {
        opacity: 1;
        translate: 0 0;
    }
}

.xe-contract-info-title {
    font-size: 1.5rem;
}

.xe-contract-info-hash {
    font-size: 1.2rem;
    word-break: break-all;
}

.xe-contract-info .warning-banner {
    color: #ff6b6b;
    padding: .75rem;
    border-left: .25rem solid #ff6b6b;
    background-color: rgba(255, 107, 107, 0.1);
    border-radius: .5rem;
}