[data-theme="dark"], [data-theme="light"] {
  --header-nav-color: var(--muted-color);
  --header-nav-active-color: var(--text-color);
  --header-logo-color: var(--text-color);
}

.header {
  padding: 1.5em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* old logo
.header-logo {
  background-color: var(--header-logo-color);
  width: 35px;
  height: 35px;
  border-radius: 10px;
  text-decoration: none;
}

.header-logo::after {
  content: 'XE';
  color: var(--bg-color);
  font-weight: bold;
  font-size: 1.5em;
  margin-left: 5px;
  margin-top: 6px;
  display: block;
}
*/

.header-logo {
  width: 35px;
  height: 35px;
  text-decoration: none;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}

[data-theme="dark"] .header-logo {
  background-image: url('/img/white_background_black_logo.svg');
}

[data-theme="light"] .header-logo  {
  background-image: url('/img/black_background_white_logo.svg');
}

/* phone */
@media screen and (max-width: 768px) {
  .header-dropdown {
    position: relative;
  }

  .header-menu-button {
    cursor: pointer;
    border: thin solid var(--text-color);
    padding: .5em;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.2em;
    display: flex;
    gap: .5em;
    align-items: center;
    user-select: none;
  }

  .header-menu-button:hover {
    animation: pulse;
    animation-duration: .5s;
  }

  .header-nav {
    position: absolute;
    right: 0px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    border: thin solid var(--text-color);
    border-radius: 5px;
    background-color: var(--bg-color);
    margin-top: .5em;
    gap: .7em;
    min-width: 150px;
    z-index: 1;
    font-size: 1.2em;
    transition: all .25s;
    transform: translateX(0);
    opacity: 1;
  }

  .header-nav.closed {
    position: fixed; /* avoid overflow */
    opacity: 0;
    transform: translateX(120%);
  }

  .header-nav-item {
    text-decoration: none;
    color: var(--header-nav-color);
    user-select: none;
  }

  .header-nav-item:hover {
    color: var(--header-nav-active-color);
  }

  .header-nav-item-active {
    color: var(--header-nav-active-color);
  }

  .header-nav-icons {
    display: flex;
    align-items: center;
    gap: .25em;
  }

  .header-nav-item-active::after {}
}

/* desktop */
@media screen and (min-width: 769px) {
  .header-menu-button {
    display: none;
  }

  .header-nav {
    display: flex;
    gap: 1.2em;
    align-items: center;
  }

  .header-nav-item {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--header-nav-color);
    user-select: none;
  }

  .header-nav-item:hover {
    color: var(--header-nav-active-color);
  }

  .header-nav-item-active {
    color: var(--header-nav-active-color);
  }

  .header-nav-icons {
    display: flex;
    align-items: center;
    gap: 1em;
    --ggs: 1.2;
  }

  .header-nav-item-active::after {
    content: '';
    background-color: var(--header-nav-active-color);
    width: 30px;
    height: 4px;
    display: block;
    margin: .3em 0;
    border-radius: 15px;
    position: absolute;
    animation: fadeIn;
    animation-duration: .5s;
  }
}