* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1em;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

a {
  color: var(--link-color);
  font-weight: bold;
}