.xe-dag {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.xe-dag-back {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
    padding: .6rem .7rem;
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid var(--xe-border-soft);
    color: var(--xe-white);
    opacity: .7;
    background: rgba(6, 12, 15, 0.82);
    transition: translate .15s, opacity .15s;
    backdrop-filter: blur(10px);
}

.xe-dag-back:hover {
    opacity: 1;
    translate: 0 5%;
}

.xe-dag-back svg {
    width: 1.3rem;
    height: 1.3rem;
}
