.xe-peers-list {
    display: flex;
    flex: 1 1 0;
    min-height: 0;
    overflow: hidden;
    gap: 1rem;
    flex-direction: column;
    animation: xe-peers-list-animation .65s;
}

.xe-peers-list>:nth-child(1) {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
}

.xe-peers-list-content {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: .4rem .8rem .4rem 0;
}

@keyframes xe-peers-list-animation {
    0% {
        translate: 0 25%;
    }

    100% {
        translate: 0 0;
    }
}
