.page-loading {
  position: fixed;
  --ggs: 1.5;
  display: flex;
  gap: .7em;
  font-size: 1.5em;
  padding: 1em;
  align-items: center;
  color: var(--muted-color);
  background-color: var(--bg-color);
  border-radius: 20px;
  min-width: 182px;
  margin-left: -91px;
  margin-top: -36px;
  left: 50%;
  top: 50%;
}