.xe-dashboard-txs {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: var(--xe-dashboard-dag-panel-height);
    overflow: hidden;
    animation: xe-dashboard-txs-appear-animation .65s;
}

.xe-dashboard-txs-list {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: .4rem .8rem .4rem 0;
}

@keyframes xe-dashboard-txs-appear-animation {
    0% {
        translate: 0 25%;
    }

    100% {
        translate: 0 0;
    }
}

.xe-dashboard-txs-list-empty {
    display: flex;
    width: 100%;
    flex: 1;
    min-height: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: .1;
    text-align: center;
    user-select: none;
    font-weight: bold;
}

.xe-dashboard-txs-list-empty svg {
    width: 5rem;
    height: 5rem;
}
