.xe-account-info {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    align-items: center;
    overflow: auto;
    padding: 2rem;
    animation: xe-account-info-appear-animation 0.45s;
}

@keyframes xe-account-info-appear-animation {
    0% {
        translate: -25% 0;
    }

    100% {
        translate: 0 0;
    }
}

.xe-account-info-container-1 {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.xe-account-info-icon {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    padding: 1rem;
}

.xe-account-info-container-2 {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    min-width: 30rem;
}

.xe-account-info-container-2>div {
    display: flex;
    gap: .25rem;
    flex-direction: column;
}

.xe-account-info-container-2>div>:nth-child(1) {
    color: var(--xe-muted);
    font-size: 1.5rem;
}

.xe-account-info-container-2>div>:nth-child(2) {
    font-size: 1.5rem;
}

.xe-account-info-container-2>div>:nth-child(3) {
    font-size: 1.5rem;
}

.xe-account-info-addr {
    font-size: 1.5rem;
    max-width: 30rem;
    word-break: break-all;
}

.xe-account-info-qr {
    border-radius: var(--xe-radius);
}