.xe-master {
    position: relative;
    min-height: 100vh;
}

.xe-master-layout {
    max-width: 150rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 2.4rem;
    flex-direction: column;
    padding: 2rem 1.6rem;
    box-sizing: border-box;
    position: relative;
}

.xe-master-content {
    display: flex;
    gap: 1.4rem;
    flex-direction: column;
    width: 100%;
}

@media screen and (max-width: 900px) {
    .xe-master-layout {
        padding: 1rem;
        gap: 1.6rem;
    }
}
