.xe-dashboard-top-stats-item {
    display: flex;
    gap: .25rem;
    flex-direction: column;
}

.xe-dashboard-top-stats-item> :nth-child(1) {
    white-space: nowrap;
    font-size: 1.2rem;
    font-weight: 100;
    color: var(--xe-muted);
    text-transform: uppercase;
}

.xe-dashboard-top-stats-item> :nth-child(2) {
    white-space: nowrap;
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--xe-accent);
}
