.xe-dashboard-top-stats {
    position: relative;
    animation: xe-dashboard-top-stats-appear-animation .65s;
}

.xe-dashboard-top-stats .xe-container {
    overflow: visible;
}

@keyframes xe-dashboard-top-stats-appear-animation {
    0% {
        translate: 0 -25%;
    }

    100% {
        translate: 0 0;
    }
}

.xe-dashboard-top-stats> :nth-child(1) {
    display: flex;
    gap: 1.4rem;
    flex-direction: column;
}

.xe-dashboard-top-stats-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.2rem;
    overflow: visible;
    align-items: stretch;
    padding: .2rem;
}

.xe-dashboard-top-stats-container>div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10.5rem, 1fr));
    gap: 1.2rem;
    justify-content: stretch;
    align-content: start;
    min-width: 0;
}

.xe-dashboard-top-stats-container>div:hover {
    z-index: 2;
}

.xe-dashboard-top-stats-title {
    position: absolute;
    top: .5rem;
    left: .5rem;
    font-size: 1.5rem;
    color: var(--xe-muted);
    z-index: 1;
}

.xe-dashboard-top-stats-img {
    position: absolute;
    right: 0;
    top: 0;
    filter: saturate(0.65) opacity(0.22);
    height: 100%;
    z-index: -1;
    mask-image: linear-gradient(to left, black 50%, transparent 100%);
    border-radius: var(--xe-radius);
}

@media screen and (max-width: 1100px) {
    .xe-dashboard-top-stats-img {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .xe-dashboard-top-stats-container {
        grid-template-columns: 1fr;
    }
}
