.xe-collapse-box {
    background: var(--xe-card-bg);
    border: 1px solid var(--xe-border-soft);
    border-radius: var(--xe-radius);
    text-decoration: none;
    color: var(--xe-white);
    position: relative;
    overflow: hidden;
}

.xe-collapse-box >:nth-child(1) {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    user-select: none;
    padding: .75rem 1rem;
}

.xe-collapse-box >:nth-child(1) svg {
    width: 2rem;
    height: 1.5rem;
    rotate: 180deg;
    translate: 0 .2rem;
    transition: rotate .25s;
}

.xe-collapse-box.collapsed>:nth-child(1) svg {
    rotate: 0deg;
}

.xe-collapse-box>:nth-child(2) {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.035);
    border-top: 1px solid var(--xe-border-soft);

}

.xe-collapse-box.collapsed>:nth-child(2) {
    position: absolute;
    visibility: hidden;
}
