.recent-blocks-title {
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 1.3em;
}

.recent-blocks-items {
  display: flex;
  gap: 1em;
  margin-bottom: 2em;
  padding-bottom: 1em;
  overflow-x: auto;
}

.recent-blocks-item {
  padding: 1.5em;
  min-width: 100px;
  border: thin solid var(--border-color);
  position: relative;
  flex-shrink: 0;
  text-decoration: none;
  display: block;
  transition: .25s transform;
  user-select: none;
}

.recent-blocks-item:hover {
  transform: scale(.95);
  cursor: pointer;
}

.recent-blocks-item-status {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
}

.recent-blocks-item-title {
  color: var(--text-color);
  font-weight: bold;
  margin-bottom: .25em;
}

.recent-blocks-item-value {
  color: var(--muted-color);
  font-weight: bold;
  font-size: .9em;
}

.recent-blocks-item-miner {
  font-size: .9em;
  margin-top: .2em;
  color: var(--muted-color);
  opacity: .6;
  font-style: italic;
}

.recent-blocks-item-time {
  font-weight: bold;
  font-size: .9em;
  margin-top: .4em;
}

.recent-blocks-group {
  flex-shrink: 0;
  border: thin solid var(--text-color);
}

.recent-blocks-group.animate:first-child {
  animation: backInDown;
  animation-duration: 1s;
}

.recent-blocks-group.animate:not(:first-child) {
  animation: slideInLeft;
  animation-duration: 1s;
}

.recent-blocks-group-title {
  color: var(--muted-color);
  text-align: center;
  font-size: .8em;
  padding: .7em;
  font-weight: bold;
}

.recent-blocks-group-items {
  display: flex;
}