.xe-blocks {}

.xe-blocks-table {
    animation: xe-blocks-table-appear-animation .4s;
    min-height: 50rem;
    overflow-x: auto;
}

@keyframes xe-blocks-table-appear-animation {
    0% {
        translate: 0 25%;
    }

    100% {
        translate: 0 0;
    }
}
