.xe-top-loading-bar {
    position: fixed;
    top: 0;
    height: .5rem;
    background: linear-gradient(90deg, var(--xe-accent), var(--xe-accent-soft));
    display: none;
    z-index: 1;
    box-shadow: var(--xe-glow);
}

.xe-top-loading-bar-animate {
    display: block;
    width: 80%;
    animation: xe-top-loading-bar-animation 3s ease-in;
}

@keyframes xe-top-loading-bar-animation {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}
