.xe-transaction-in-blocks {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    animation: xe-transaction-in-blocks-appear-animation .65s;
}

@keyframes xe-transaction-in-blocks-appear-animation {
    0% {
        opacity: 0;
        translate: 0 25%;
    }

    100% {
        opacity: 1;
        translate: 0 0;
    }
}

.xe-transaction-in-blocks>:nth-child(1) {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
}

.xe-transaction-in-blocks>:nth-child(2) {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.xe-transaction-in-blocks-legend {
    display: flex;
    gap: .5rem;
    flex-direction: row;
    align-items: center;
}

.xe-transaction-in-blocks-legend.executed>:nth-child(1) {
    width: .5rem;
    height: .5rem;
    border-radius: 100%;
    border: .2rem solid var(--xe-accent);
}

.xe-transaction-in-blocks-legend.executed>:nth-child(2) {
    color: var(--xe-accent);
    font-size: 1.3rem;
}

.xe-transaction-in-blocks-legend.failed>:nth-child(1) {
    width: .75rem;
    height: .75rem;
    border-radius: 100%;
    background: #d51f1f;
}

.xe-transaction-in-blocks-legend.failed>:nth-child(2) {
    color: #d51f1f;
    font-size: 1.3rem;
    font-weight: bold;
}