.xe-dashboard-dag {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    animation: xe-dashboard-dag-appear-animation 1s;
}

@keyframes xe-dashboard-dag-appear-animation {
    0% {
        translate: 0 25%;
    }

    100% {
        translate: 0 0;
    }
}

.xe-dashboard-dag-dag {
    height: 25rem;
    position: relative;
    overflow: hidden;
    border-radius: var(--xe-radius);
    border: 1px solid var(--xe-border-soft);
}
