.xe-box-chart {
    display: flex;
    gap: .5rem;
    flex-direction: column;
}

.xe-box-chart > :nth-child(1) {
    font-size: 1.4rem;
}

.xe-box-chart > :nth-child(2) {
    display: flex;
    gap: .5rem;
    flex-direction: row;
    align-items: center;
}

.xe-box-chart-value {
    color: var(--xe-accent);
    font-weight: bold;
    font-size: 2rem;
}

.xe-box-chart-content {
    margin-top: 1rem;
}