.explorer-search {
  margin: 3em 0 1em 0;
}

.explorer-search-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1em;
}

.explorer-search-form {
  animation: slideInLeft;
  animation-duration: .2s;
}

.explorer-search-form input {
  width: 100%;
  padding: .5em;
  font-size: 1.3em;
  border-radius: 5px;
  outline: none;
  border: thin solid var(--border-color);
}

.explorer-search-form button {
  font-size: 1.3em;
  display: flex;
  gap: 1em;
  align-items: center;
  padding: .5em 1em;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  margin-top: .5em;
  justify-content: center;
  background-color: var(--link-color);
  color: white;
  user-select: none;
}

.explorer-search-form button:hover {
  animation: pulse;
  animation-duration: .5s;
}

@media screen and (min-width: 769px) {
  .explorer-search-form {
    display: flex;
  }

  .explorer-search-form input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  .explorer-search-form button {
    justify-content: left;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: inherit;
    margin-top: 0;
  }
}