.node-connection {
  border: thin dashed var(--border-color);
  padding: .5em;
  margin-bottom: 2em;
  display: flex;
  border-radius: 5px;
  gap: .5em;
  align-items: center;
  color: gray;
}

.node-connection-status {
  width: 10px;
  height: 10px;
  border-radius: 15px;
}

.node-connection-status.alive {
  background-color: var(--success-color);
}

.node-connection-status.loading {
  background-color: var(--muted-color);
}

.node-connection-status.error {
  background-color: var(--error-color);
}