.recent-blocks-title {
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 1.3em;
}

.recent-blocks-items {
  display: flex;
  gap: 1em;
  margin-bottom: 2em;
  padding-bottom: 1em;
  overflow-x: auto;
}

.recent-blocks-item {
  padding: 1.5em;
  min-width: 100px;
  border: thin solid var(--border-color);
  position: relative;
  flex-shrink: 0;
  text-decoration: none;
  display: block;
  transition: .25s transform;
  user-select: none;
}

.recent-blocks-item:nth-child(2) {
  animation: bounce;
  animation-duration: 1s;
}

.recent-blocks-item.scale:hover {
  transform: scale(.95);
  cursor: pointer;
}

.recent-blocks-item-status {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
  background-color: var(--muted-color);
}

.recent-blocks-item-status.mined {
  background-color: var(--warning-color);
}

.recent-blocks-item-status.stable {
  background-color: var(--success-color);
}

.recent-blocks-item-title {
  color: var(--text-color);
  font-weight: bold;
  margin-bottom: .25em;
}

.recent-blocks-item-value {
  color: var(--muted-color);
  font-weight: bold;
  font-size: .9em;
}

.recent-blocks-item-time {
  font-weight: bold;
  font-size: .9em;
  margin-top: .2em;
}