.xe-tx-item {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
    flex: 0 0 auto;
    min-height: 7.4rem;
    transition: scale .25s, background-color .25s, border-color .25s;
}

.xe-tx-item:hover {
    cursor: pointer;
    scale: .98;
    background-color: rgba(2, 255, 207, 0.07);
    border-color: var(--xe-border-strong);
}

.xe-tx-item>div {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
}

.xe-tx-item>:nth-child(1) {
    flex: 1 1 auto;
}

.xe-tx-item>:nth-child(2) {
    flex: 0 0 auto;
    text-align: right;
}

.xe-tx-item>:nth-child(1)>div {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.xe-tx-item>:nth-child(2)>div {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    align-items: end;
}

.xe-tx-item-signer {
    display: flex;
    gap: .5rem;
    flex-direction: row;
    align-items: center;
    min-width: 0;
}

.xe-tx-item-signer>canvas {
    flex: 0 0 auto;
}

.xe-tx-item-signer>div {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.xe-tx-item-type {
    display: flex;
    gap: .5rem;
    flex-direction: row;
    color: var(--xe-muted);
    font-size: 1.3rem;
}

.xe-tx-item-hash {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--xe-accent);
}

.xe-tx-item-age {
    font-size: 1.5rem;
}

.xe-tx-item-size {
    color: var(--xe-muted);
    font-size: 1.3rem;
}

.xe-tx-item-height {
    font-size: 1.5rem;
}

.xe-tx-item-fee {
    color: var(--xe-muted);
    font-size: 1.3rem;
}
