.xe-block-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    animation: xe-block-info-appear-animation 0.4s;
}

@keyframes xe-block-info-appear-animation {
    0% {
        translate: -25% 0;
    }

    100% {
        translate: 0 0;
    }
}

.xe-block-info> :nth-child(1) {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    flex: 1;
}

.xe-block-info> :nth-child(1)>:nth-child(2) {
    display: flex;
    gap: .15rem;
    flex-direction: column;
    color: var(--xe-muted);
}

.xe-block-info> :nth-child(2) {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    flex: 1;
}

.xe-block-info> :nth-child(2)>:nth-child(2) {
    display: flex;
    gap: .15rem;
    flex-direction: column;
    color: var(--xe-muted);
}

.xe-block-info-last-update {
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 0%;
    font-size: 1.4rem;
    color: var(--xe-muted);
    padding: .4rem 0;
    width: 3rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.05);
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.xe-block-info-type {
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

.xe-block-info-type> :nth-child(1) {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: var(--xe-radius);
}

.xe-block-info-type> :nth-child(2) {
    display: flex;
    gap: .25rem;
    flex-direction: column;
}

.xe-block-info-type> :nth-child(2)>:nth-child(1) {
    font-size: 1.5rem;
}

.xe-block-info-type> :nth-child(2)>:nth-child(2) {
    font-size: 1.5rem;
}

.xe-block-info-age {
    font-size: 1.5rem;
}