.left-right-buttons {
  display: flex;
  margin-bottom: 1em;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: .5em;
}

.button {
  display: flex;
  gap: .5em;
  align-items: center;
  color: var(--text-color);
  border: thin solid var(--text-color);
  padding: .5em;
  border-radius: 5px;
  text-decoration: none;
  user-select: none;
}

.button:hover {
  animation: pulse;
  animation-duration: .5s;
}

.button:disabled {
  opacity: .5;
  animation: none;
  cursor: auto;
}