/* offcanvas */
.offcanvas-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 1;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.offcanvas-backdrop.overlay-opened {
  opacity: 1;
}

.offcanvas-backdrop.overlay-closed {
  opacity: 0;
}

.offcanvas {
  position: fixed;
  top: 0;
  width: 300px;
  /* default but can be overwride js side */
  height: 100%;
  background-color: var(--bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all .3s ease-in-out;
  z-index: 9999;
}

.offcanvas-flex {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.offcanvas.offcanvas-right {
  translate: 100%;
  right: 0;
}

.offcanvas.offcanvas-left {
  translate: 0;
  left: 0;
}

.offcanvas.offcanvas-right.overlay-opened {
  translate: 0;
  opacity: 1;
}

.offcanvas.offcanvas-right.overlay-closed {
  translate: 100%;
  opacity: 0;
}

.offcanvas.offcanvas-left.overlay-opened {
  translate: 0;
  opacity: 1;
}

.offcanvas.offcanvas-left.overlay-closed {
  translate: -100%;
  opacity: 0;
}

.offcanvas-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
}

.offcanvas-title {
  font-size: 1.3em;
}

.offcanvas-close {
  color: var(--text-color);
  --ggs: 1.5;
}

.offcanvas-close:hover {
  animation: pulse;
  animation-duration: .5s;
}

@media screen and (max-width: 769px) {
  .offcanvas {
    width: 100% !important;
    box-shadow: none;
  }
}

/* modals */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 1;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 2;
}