.xe-peers-chart {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    animation: xe-peers-chart-animation .75s;
}

@keyframes xe-peers-chart-animation {
    0% {
        translate: -25% 0;
    }

    100% {
        translate: 0 0;
    }
}

.xe-peers-chart-container-1 {
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

@media screen and (max-width: 900px) {
    .xe-peers-chart-container-1 {
        flex-direction: column;
    }
}

.xe-peers-chart-container-1> :nth-child(1) {
    flex: 1;
    min-height: 10rem;
}

.xe-peers-chart-container-1> :nth-child(2) {
    flex: 1;
    min-height: 10rem;
}

.xe-peers-chart >:nth-child(2) {
    min-height: 10rem;
}

.xe-peers-version-chart-content {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.xe-peers-version-chart-content > svg {
    position: relative;
    z-index: 2;
    flex: 0 0 150px;
}

.xe-peers-version-legend {
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    min-width: 0;
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}
