.xe-block-extra {
    padding: 0;
    animation: xe-block-extra-appear-animation 0.7s;
}

@keyframes xe-block-extra-appear-animation {
    0% {
        translate: -25% 0;
    }

    100% {
        translate: 0 0;
    }
}

.xe-block-extra-container-1 {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
}

.xe-block-extra-container-1>div {
    display: flex;
    gap: .25rem;
    flex-direction: column;
    flex: 1;
    min-height: 1rem;
}

.xe-block-extra-container-1>div>:nth-child(1) {
    font-size: 1.4rem;
    color: var(--xe-muted);
}

.xe-block-extra-container-1>div>:nth-child(2) {
    font-size: 1.4rem;
}

.xe-block-extra-container-2 {
    padding: 1rem;
    display: flex;
    gap: .25rem;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.05);
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.xe-block-extra-container-2>div {
    display: flex;
    gap: .5rem;
    flex-direction: row;
    align-items: center;
}

.xe-block-extra-container-2>div>:nth-child(1) {
    font-size: 1.3rem;
    color: var(--xe-muted);
}