.xe-dashboard-blocks {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    animation: xe-dashboard-blocks-appear-animation .7s;
}

.xe-dashboard-blocks-list {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: .4rem 0;
}

@keyframes xe-dashboard-blocks-appear-animation {
    0% {
        translate: 25% 0;
    }

    100% {
        translate: 0 0;
    }
}
