.xe-mempool-tx-type-bars {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-between;
}

.xe-mempool-tx-type-bars>div {
    display: flex;
    gap: .5rem;
    flex-direction: column;
}

.xe-mempool-tx-type-bars-bar {
    width: 100%;
    height: 1.5rem;
    background-color: rgba(2, 7, 8, 0.58);
    border-radius: var(--xe-radius);
    overflow: hidden;
    position: relative;
}

.xe-mempool-tx-type-bars-bar>:first-child {
    position: absolute;
    height: 100%;
    width: 0;
    background: linear-gradient(90deg, var(--xe-accent-dark), var(--xe-accent));
    transition: 1s width;
}
