.xe-transaction-deploy-contract {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.xe-transaction-deploy-contract>:nth-child(3),
.xe-transaction-deploy-contract>:nth-child(5),
.xe-transaction-deploy-contract>:nth-child(7),
.xe-transaction-deploy-contract>:nth-child(9),
.xe-transaction-deploy-contract>:nth-child(11) {
    color: var(--xe-muted);
}

.xe-transaction-deploy-contract>:nth-child(12) {
    font-size: 1.5rem;
    font-weight: bold;
}


.xe-transaction-deploy-contract>:nth-child(2) {
    font-size: 1.5rem;
    max-width: 30rem;
    word-break: break-all;
}