.xe-peers-map {
    height: 25rem;
    border-radius: var(--xe-radius);
    border: 1px solid var(--xe-border-soft);
    animation: xe-peers-map-animation .5s;
    overflow: hidden;
}

@keyframes xe-peers-map-animation {
    0% {
        translate: -25% 0;
    }

    100% {
        translate: 0 0;
    }
}
