.xe-dashboard-chart-section-2 {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    animation: xe-dashboard-chart-section-1-appear-animation .7s;
}

@keyframes xe-dashboard-chart-section-1-appear-animation {
    0% {
        translate: -25% 0;
    }

    100% {
        translate: 0 0;
    }
}

.xe-dashboard-chart-section-2>:nth-child(1) {
    min-height: 15rem;
}

.xe-dashboard-chart-section-2>:nth-child(2) {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    align-items: stretch;
    min-height: 10rem;
}

@media screen and (max-width: 900px) {
    .xe-dashboard-chart-section-2>:nth-child(2) {
        flex-direction: column;
    }
}

.xe-dashboard-chart-section-2>:nth-child(2)>div {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    box-sizing: border-box;
}

.xe-dashboard-chart-section-2>:nth-child(2)>div>.xe-box-chart-content {
    flex: 1;
    min-height: 22rem;
}
