.xe-transaction-extra {
    padding: 0;
    animation: xe-transaction-extra-appear-animation .55s;
}

@keyframes xe-transaction-extra-appear-animation  {
    0% {
        opacity: 0;
        translate: -25% 0;
    }

    100% {
        opacity: 1;
        translate: 0 0;
    }
}

.xe-transaction-extra-container-1 {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.05);
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.xe-transaction-extra-container-1>div {
    display: flex;
    gap: .25rem;
    flex-direction: column;
    font-size: 1.5rem;
    flex: 1;
}

.xe-transaction-extra-container-1>div>:nth-child(1) {
    color: var(--xe-muted);
    font-size: 1.5rem;
}

.xe-transaction-extra-container-2 {
    padding: 1rem;
    display: flex;
    gap: .5rem;
    flex-direction: column;
}

.xe-transaction-extra-container-2>div {
    display: flex;
    gap: .25rem;
    flex-direction: column;
    word-break: break-all;
}

.xe-transaction-extra-container-2>div>:nth-child(1) {
    color: var(--xe-muted);
    font-size: 1.5rem;
}