.xe-peers-info {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-direction: row;
    animation: xe-peers-info-animation .55s;
    padding: 2rem;
}

@keyframes xe-peers-info-animation {
    0% {
        translate: 0 -25%;
    }

    100% {
        translate: 0 0;
    }
}


.xe-peers-info>div {
    display: flex;
    gap: .25rem;
    flex-direction: column;
    flex: 1;
    white-space: nowrap;
}

.xe-peers-info>div>:nth-child(1) {
    color: var(--xe-muted);
    font-size: 1.4rem;
}

.xe-peers-info>div>:nth-child(2) {
    font-weight: bold;
    font-size: 1.5rem;
}
