.xe-account-known-addr {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    animation: xe-account-known-addr-appear-animation 0.5s;
}

@keyframes xe-account-known-addr-appear-animation {
    0% {
        translate: 0 -25%;
    }

    100% {
        translate: 0 0;
    }
}

.xe-account-known-addr svg {
    width: 2rem;
    height: 2rem;
    color: var(--xe-muted);
}

.xe-account-known-addr>:nth-child(2) {
    display: flex;
    gap: .5rem;
    flex-direction: column;
}

.xe-account-known-addr span {
    background-color: rgba(0, 0, 0, 0.3);
    padding: .25rem .5rem;
    margin-left: .25rem;
    font-weight: bold;
    font-size: 1.4rem;
}
