.xe-block-next-block-btns {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
}

.xe-block-next-block-btns a {
    padding: .5rem 1rem;
    border-radius: var(--xe-radius);
    border: 1px solid rgba(255, 255, 255, 0.12);
    cursor: pointer;
    transition: translate .25s, background-color .2s;
    display: flex;
    gap: .5rem;
    align-items: center;
    background: rgba(255, 255, 255, 0.045);
    color: var(--xe-white);
    font-weight: bold;
    font-family: var(--xe-font-body);
    font-size: 1.3rem;
    text-decoration: none;
    user-select: none;
}

.xe-block-next-block-btns a svg {
    min-width: 1.5rem;
    min-height: 1.5rem;
    max-width: 1.5rem;
    max-height: 1.5rem;
}

.xe-block-next-block-btns a:nth-child(1) svg {
    rotate: 90deg;
}

.xe-block-next-block-btns a:nth-child(1):hover {
    translate: 1% 0;
    background-color: rgba(2, 255, 207, 0.12);
    border-color: var(--xe-border-strong);
}

.xe-block-next-block-btns a:nth-child(2) svg {
    rotate: 270deg;
}

.xe-block-next-block-btns a:nth-child(2):hover {
    translate: -1% 0;
    background-color: rgba(2, 255, 207, 0.12);
    border-color: var(--xe-border-strong);
}
